<!--
  - @Author MarJose Darang - Copyright (c) 2020.
  -
  - @Licenses GNU GPLv3
  -  https://choosealicense.com/licenses/gpl-3.0/
  -
  -->
<template>

  <li role="presentation" class="dropdown">
    <a href="javascript:" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-bell-o"></i>
      <span v-if="unreadNotifications.length > 0" class="badge bg-green">{{unreadNotifications.length}}</span>
    </a>
    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
      <li>
        <div class="text-center">
          <a @click.prevent="markAsRead">
            <strong>Mark All as Read</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </li>
      <li v-for="notification in allNotifications" :key="notification.id" >
        <a>
          <span class="image"><img :src="notification.data.student.avatar" alt="Profile Image" /></span>
          <span>
              <span>{{notification.data.student.FirstName}} {{notification.data.student.LastName}}  </span>
            <span class="time">
            <vue-moments-ago prefix="" suffix="ago" :date="notification.updated_at"/>
            </span>
            </span>
          <span class="message">
            {{notification.data.message}}
          </span>
        </a>
      </li>
    </ul>
  </li>
</template>


<script>
import VueMomentsAgo from 'vue-moments-ago'

export default {
  components: {
    VueMomentsAgo
  },
  props: [
    "user",
    "usernotification"
  ],
  data: function () {
    return {
      allNotifications: [],
      unreadNotifications: [],
    }
  },
  watch:{
    allNotifications(){
      this.unreadNotifications =  this.allNotifications.filter(notification => {
       return notification.read_at == null;
      });
    }
  },
  created() {
    this.allNotifications = this.usernotification;

    this.unreadNotifications =  this.allNotifications.filter(notification => {
      return notification.read_at == null;
    });

    Echo.private(`App.User.${this.user.id}`)
        .notification((notification) => {
          console.log(notification);
          let today = new Date();
          let date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
          let time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
          let dateTime = date+' '+time;
          let newNotification = {
            data:
                {
                 student: notification.student,
                  message: notification.message
                },
            id: notification.id,
            updated_at: dateTime,
            read_at:null
          };

         //this.allNotifications.unshift(notification);
          console.log(newNotification);
          this.allNotifications.unshift(newNotification);

          // Toast a Toast
          this.$toast.info({
            title:'Done Voting',
            message:notification.message
          })




        });
  },
  methods: {
    markAsRead()
    {
      console.log("You read all the notification by clicking the message icon");
    }
  }
}
</script>
<style src="cxlt-vue2-toastr/dist/css/cxlt-vue2-toastr.css"></style>
<style>
#menu1 {
  height : 300px;
  overflow : hidden;
  overflow-y : scroll;
  width: 400px;
}
</style>
