<!--
  - @Author MarJose Darang - Copyright (c) 2020.
  -
  - @Licenses GNU GPLv3
  -  https://choosealicense.com/licenses/gpl-3.0/
  -
  -->

<template>
  <div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-caret-square-o-up"></i></div>
        <div class="count" v-if="serverdata === null"><i class="fa fa-refresh fa-spin"></i> </div>
        <div class="count" v-else>{{ formattedTime(serverdata.Uptime.text) }}</div>
        <h3>Uptime</h3>
        <p>Server uptime</p>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-server"></i></div>
        <div class="count" v-if="serverdata === null"><i class="fa fa-refresh fa-spin"></i> 0 %</div>
        <div class="count" v-else>{{ serverdata.CPUusage }} %</div>
        <h3>CPU Loads</h3>
        <p>Server CPU Load / Traffic</p>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-server"></i></div>
        <div class="count" v-if="serverdata === null"><i class="fa fa-refresh fa-spin"></i> 0</div>
        <div class="count" v-else>{{ formatBytes(serverdata.Ram.free) }}</div>
        <h3>Memory</h3>
        <p>Server free Memory Available</p>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-database"></i></div>
        <div class="count" v-if="serverdata === null"><i class="fa fa-refresh fa-spin"></i> 0</div>
        <div class="count" v-else>{{ formatBytes(serverdata.Hdd.size) }}</div>
        <h3>HDD Size</h3>
        <p>Total Size</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ServerComponent",
  data() {
    return {
      server: {},
      serverdata: {},
      diskwrite: [],

    }
  },
  watch: {
    server(){
      return  this.serverdata = this.server;
    }
  },
  created() {
    // initial variable
    this.serverdata = null

    Echo.channel('server_monitor')
        .listen('.server-monitor', (e) =>{
          this.server = e.serverinfo;
          console.log(this.server);
        });
  },
  methods: {
     formatBytes: function(bytes, decimals = 2) {
              if (bytes === 0) return '0 Bytes';

              const k = 1024;
              const dm = decimals < 0 ? 0 : decimals;
              const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

              const i = Math.floor(Math.log(bytes) / Math.log(k));

              return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + '' + sizes[i];
      },
    formattedTime: function (t){
          let res = t.split(',');
          let hour = res[0].replace(/\D/g,'');
          let minute = res[1].replace(/\D/g,'');
          let second = '00';
          let formattedTime;
          if(typeof  res[2] !== 'undefined'){
            second = res[2].replace(/\D/g,'');
          }
          if(res.length !== 3){
            // no hour stated
            formattedTime = "00:" + hour + ":" + minute;
          }else{
            formattedTime = hour + ":" + minute + ":" + second;
          }

          return  formattedTime;
    }
  }
}
</script>
